In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (2.9.9)Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: prettytable in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: exceptiongroup in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: colorama in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ammar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [6]:
%load_ext sql

In [68]:
%sql postgresql://root:root@localhost:5432/ny_taxi

In [69]:
# Query to Answer Question 3
%sql SELECT count( to_char(lpep_pickup_datetime, 'DD/MM/YY')) from green_taxi_data WHERE to_char(lpep_pickup_datetime, 'DD/MM/YY') = '18/09/19' AND to_char(lpep_dropoff_datetime, 'DD/MM/YY') = '18/09/19' ;

   postgresql+psycopg2://root:***@localhost:5432/ny_taxi
 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(15612,)]

In [70]:
# Query to Answer Question 4
%sql select to_char(lpep_pickup_datetime, 'DD/MM/YY') pickup,SUM(trip_distance) Total from green_taxi_data group by lpep_pickup_datetime order by SUM(trip_distance) DESC limit(5);

   postgresql+psycopg2://root:***@localhost:5432/ny_taxi
 * postgresql://root:***@localhost:5432/ny_taxi
5 rows affected.

[('26/09/19', 341.64),
 ('21/09/19', 135.53),
 ('15/09/19', 130.53),
 ('16/09/19', 114.3),
 ('18/09/19', 108.57)]

In [105]:
%%sql SELECT 
SUM(G.total_amount :: INT) "Total" , Z."Borough" 
FROM green_taxi_data G 
LEFT JOIN zones Z ON G."PULocationID" = Z."LocationID" 
WHERE to_char(G.lpep_pickup_datetime, 'DD/MM/YY') = '18/09/19' AND Z."Borough" <> 'Unknown' 
Group By Z."Borough" 
Order By SUM(G.total_amount) DESC;

   postgresql+psycopg2://root:***@localhost:5432/ny_taxi
 * postgresql://root:***@localhost:5432/ny_taxi
5 rows affected.

[(96224, 'Brooklyn'),
 (92290, 'Manhattan'),
 (78603, 'Queens'),
 (32814, 'Bronx'),
 (343, 'Staten Island')]